body {
	padding: 0%;
	margin: 0%;
}
#editor {
	/*background-color: rgba(150, 150, 150, 1);*/
}
#editor > *{
	background-color: rgba(150, 150, 150, 1);
}
#settingsArea {
	position: fixed;
	bottom: 0%;
	right: 0%;
}
textarea {
	border: 0px solid rgba(0, 0, 0, 0);
}
#displayArea {
	overflow: auto;
	background-color: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: rgba(200, 200, 200, 1);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(100, 100, 100, 1);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 1);
}