body {
	padding: 0%;
	margin: 0%;
}
#editor {
	/*background-color: rgba(150, 150, 150, 1);*/
}
#editor > *{
	background-color: rgba(150, 150, 150, 1);
}
#settingsArea {
	position: fixed;
	bottom: 0%;
	right: 0%;
}
textarea {
	border: 0px solid rgba(0, 0, 0, 0);
}
#displayArea {
	overflow: scroll;
}